@import '../../1-tokens/tokens.css';

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Sizes */
.size-small {
  max-width: 640px;
}

.size-medium {
  max-width: 768px;
}

.size-large {
  max-width: 1024px;
}

.size-xlarge {
  max-width: 1280px;
}

.size-full {
  max-width: 100%;
}

/* Padding */
.padded {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .padded {
    padding-left: 24px;
    padding-right: 24px;
  }
}
