/* DS Indigo Font Face Declarations */

/* Regular */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/DSIndigo-Regular/DSIndigo-Regular.woff2') format('woff2'),
       url('/fonts/DSIndigo-Regular/DSIndigo-Regular.woff') format('woff'),
       url('/fonts/DSIndigo-Regular/DSIndigo-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/DSIndigo-Light/DSIndigo-Light.woff2') format('woff2'),
       url('/fonts/DSIndigo-Light/DSIndigo-Light.woff') format('woff'),
       url('/fonts/DSIndigo-Light/DSIndigo-Light.ttf') format('truetype');
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/DSIndigo-Medium/DSIndigo-Medium.woff2') format('woff2'),
       url('/fonts/DSIndigo-Medium/DSIndigo-Medium.woff') format('woff'),
       url('/fonts/DSIndigo-Medium/DSIndigo-Medium.ttf') format('truetype');
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/DSIndigo-SemiBold/DSIndigo-SemiBold.woff2') format('woff2'),
       url('/fonts/DSIndigo-SemiBold/DSIndigo-SemiBold.woff') format('woff'),
       url('/fonts/DSIndigo-SemiBold/DSIndigo-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/DSIndigo-Bold/DSIndigo-Bold.woff2') format('woff2'),
       url('/fonts/DSIndigo-Bold/DSIndigo-Bold.woff') format('woff'),
       url('/fonts/DSIndigo-Bold/DSIndigo-Bold.ttf') format('truetype');
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/DSIndigo-Black/DSIndigo-Black.woff2') format('woff2'),
       url('/fonts/DSIndigo-Black/DSIndigo-Black.woff') format('woff'),
       url('/fonts/DSIndigo-Black/DSIndigo-Black.ttf') format('truetype');
  font-display: swap;
}

/* Italic variants */
@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/DSIndigo-Italic/DSIndigo-Italic.woff2') format('woff2'),
       url('/fonts/DSIndigo-Italic/DSIndigo-Italic.woff') format('woff'),
       url('/fonts/DSIndigo-Italic/DSIndigo-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/DSIndigo-LightItalic/DSIndigo-LightItalic.woff2') format('woff2'),
       url('/fonts/DSIndigo-LightItalic/DSIndigo-LightItalic.woff') format('woff'),
       url('/fonts/DSIndigo-LightItalic/DSIndigo-LightItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/DSIndigo-MediumItalic/DSIndigo-MediumItalic.woff2') format('woff2'),
       url('/fonts/DSIndigo-MediumItalic/DSIndigo-MediumItalic.woff') format('woff'),
       url('/fonts/DSIndigo-MediumItalic/DSIndigo-MediumItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/DSIndigo-SemiBoldItalic/DSIndigo-SemiBoldItalic.woff2') format('woff2'),
       url('/fonts/DSIndigo-SemiBoldItalic/DSIndigo-SemiBoldItalic.woff') format('woff'),
       url('/fonts/DSIndigo-SemiBoldItalic/DSIndigo-SemiBoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/DSIndigo-BoldItalic/DSIndigo-BoldItalic.woff2') format('woff2'),
       url('/fonts/DSIndigo-BoldItalic/DSIndigo-BoldItalic.woff') format('woff'),
       url('/fonts/DSIndigo-BoldItalic/DSIndigo-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/DSIndigo-BlackItalic/DSIndigo-BlackItalic.woff2') format('woff2'),
       url('/fonts/DSIndigo-BlackItalic/DSIndigo-BlackItalic.woff') format('woff'),
       url('/fonts/DSIndigo-BlackItalic/DSIndigo-BlackItalic.ttf') format('truetype');
  font-display: swap;
}